@use '../01-settings/' as *;
@use '../02-tools/' as *;

.heading {

    &--h1 {

        background-color:$color-black;
        color: $color-white;
        font-size: 4rem;
        padding: 1rem;

        @include medium {
            font-size: 6rem;
        }

        @include large {
            font-size: 6rem;
        }

    }

}