@use '../01-settings/' as *;

.site-header {
    background: url('../assets/header2.jpg') center/cover;
    height: 100vh;
    position: relative;
    justify-content: space-between;
    display: flex;

    &__blackout {
        position: absolute;
    }

    &__nav {
        display: flex;

        position: absolute;
        width: 100%;
        // margin-top: $grid-base * 3;
        background-color: $color-black;
    }
}